@media screen and (min-width: 768px){
	main{
		margin-left: 10%;
	}
	nav{
			left: -46.5%;
			top: 35%;
			width: 100%;
			height: 10%;
			transform: rotate(90deg);
		}
	nav ul{
		text-decoration: none;
	}

	footer{
		display: flex;
		justify-content: center;
		text-align: center;
	}

	footer p{
		margin-left: 4%;
	}

	div p{
		width: 100%;
		font-size: 15px;
	}
}