@media screen and (min-width: 1870px){
	
	header{
		margin-top: -2%;
		margin-left: 8%;
	}
	header a{
		font-size: 18px;
	}


	.productos__art h1{
		font-size: 70px;

	}
	main{
		margin-left: 8%;
	}
	nav{
			left: -48%;
			top: 35%;
			right: 0;
			width: 100%;
			height: 14%;
			transform: rotate(90deg);
		}
	nav ul{
		text-decoration: none;
	}




	.card{
		height: 500px;
	}
	.card p{
		font-size: 40px;
	}







	footer{
		display: flex;
		justify-content: center;
		text-align: center;
	}

	footer p{
		margin-left: 4%;
	}

	div p{
		width: 100%;
		font-size: 15px;
	}
}